# Flutter
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.android/
.idea/
.iml
.packages
.packages.bak
*.apk
*.ipa
*.aab
*.iml
*.swp
*~
.DS_Store
.vscode/
*.log
